body{
    background-color: rgb(123, 2, 194);
    padding:0px;
    margin:0px;
    color:white;
}
#title{
    text-align: center;
}
hr { 
    background-color: white; 
    height: 2px; 
    border: 0; 
    margin:0px;
}
.flex-container {
    display: flex;
    background-color: white;
}
.flex-container div {
    padding:0px 50px 0px 50px;
}

.flex-box{
    flex:1;
    background-color: rgb(123, 2, 194);
}
.form{
    margin-right:1px;
}
#results{
    margin-left:1px;
}